body {
  background-image: url("/images/photo.png");
  background-size: cover;
  text-align: center;
  color: #fbeee4;
}

.container {
margin: auto;
text-align: center;
width:85%;
}

/* Flex Grid from tutorial at W3Schools */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#firstpic {
  background-image: url("/images/1.png");
  background-size: cover;
 background-repeat: no-repeat;
 background-position: top left;
height:30rem;
width: 45rem;
}

/* Simple Jquery lightbox from  codepen dot io backlash jjimih */

.lightbox-toggle {
  color: black;
}

.backdrop {
    z-index: 1;
    opacity: .8;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;

    * {
        z-index: 3;
    }

    .close {
        float: right;
        cursor: pointer;
    }
}
